<!-- Team -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].team.section | default: team }}">
<div class="container">
  <div class="row">
	<div class="col-lg-12 text-center">
	  <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].team.title }}</h2>
	</div>
  </div>
  
  {% for team in site.data.sitetext[site.locale].team.people %}
	<div class="row">
		<div class="col-lg-12 text-center">
		  <h3 class="section-heading text-muted">{{ team.category }}</h3>
		</div>
	</div>
	
        <div class="row justify-content-center">
		{% for person in team.members %}
		<div class="col-sm-4">
			<div class="team-member">
			        {% if person.image-override %}
					<img class="mx-auto rounded-circle" src="assets/img/team/{{ person.image-override }}" alt="Picture of {{ person.name }}">
			        {% else %}
			                <img class="mx-auto rounded-circle" src="assets/img/team/{{ person.name }}.jpg" alt="Picture of {{ person.name }}">
			        {% endif %}
			        
			        {% if person.name-override %}
					<h4>{{ person.name-override }}</h4>
			        {% elsif team.category contains "Faculty" %}
			        	<h4>{{ person.name }}, PhD</h4>
				{% else %}
					<h4>{{ person.name }}</h4>
				{% endif %}
				
				{% if person.role %}
					<p class="text-muted">{{ person.role }}</p>
				{% else %}
					<br>
				{% endif %}
				{% if team.category == "Full-Time" %} 
				<ul class="list-inline social-buttons">
				  <li class="list-inline-item">
					<a href="mailto:{{ person.email }}">
					  <i class="fas fa-envelope"></i>
					</a>
				  </li>
				</ul>
				{% endif %}
			</div>
		</div>
		{% endfor %}
       </div>
  {% endfor %}
</div>
</section>
<!-- End Team -->
